@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sans:wght@300&display=swap");

.App {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.home-text {
  font-size: 100px;
  text-align: right;
  align-self: center;
  font-family: "Libre Baskerville";
  text-shadow: 12px 7px #053c3c;
  margin-bottom: 0;
}

.subtitle {
  color: #ababab;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .subtitle {
    text-align: right;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .subtitle {
  }
}
